.history--container {
  width: 100%;
  padding: 20px;
}

.console--container {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.console--content {
  flex: 1;
  overflow-y: auto;
  padding-right: 17px;
}

.flex--spacer {
  flex: 1;
}

.console--content pre {
  font-family: monospace;
  white-space: pre-wrap;
  margin: 0;
  word-wrap: break-word;
}

.input--form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
}

.input--textarea, .context--textarea, .knowledge--textarea, .question--textarea {
  background-color: transparent;
  color: white;
  border: 0px solid rgb(8, 0, 0);
  padding: 0px;
  margin-bottom: 0px;
  font-family: monospace;
  flex: 1;
  resize: vertical;
  overflow: hidden;
  min-height: 60px;
  font-size: 16px;
}

.input--area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.submit--button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0px 0px;
  font-family: monospace;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .submit--button {
      font-size: 25px;
  }

  .console--content {
      padding-right: 10px;
  }

  .input--form {
      margin-top: 5px;
  }

  .input--textarea, .context--textarea, .knowledge--textarea, .question--textarea {
      font-size: 14px;
      min-height: 120px;
  }
}

@media screen and (max-width: 480px) {
  .submit--button {
      font-size: 22px;
  }

  .input--textarea, .context--textarea, .knowledge--textarea, .question--textarea {
      font-size: 12px;
  }
}